name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'Release vue-konami@')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.ACCESS_TOKEN }}
    - uses: actions/setup-node@v3
      with:
        node-version: '16.14.2'
        registry-url: 'https://registry.npmjs.org'
        cache: 'npm'
    - name: Install
      run: npm ci
    - name: Build
      run: npm run build
    - name: Test
      run: npm run test
    - name: Lint
      run: npm run lint
    - name: Fix Coverage Paths
      working-directory: ./coverage
      run: |
        sed -i 's/\/home\/runner\/work\/vue-konami\/vue-konami\//\/github\/workspace\//g' lcov.info
    - name: Deploy
      if: github.event_name == 'push'
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.ACCESS_TOKEN }}
        publish_dir: ./.docs
        cname: vue-konami.cadgerfeast.com
