name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.ACCESS_TOKEN }}
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        node-version: '16.14.2'
        registry-url: 'https://registry.npmjs.org'
        cache: 'npm'
    - name: Install
      run: npm ci
    - name: Build
      run: npm run build:dist && npm run build:types
    - name: Release
      run: npx release-it@14.6.2 --ci --verbose --disable-metrics --increment=${{github.event.inputs.version}}
      env:
        GIT_AUTHOR_NAME: Github Action
        GIT_AUTHOR_EMAIL: action@github.com
        GIT_COMMITTER_NAME: Github Action
        GIT_COMMITTER_EMAIL: action@github.com
        GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
